<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Trip Organizer</title>
		<meta name="description" content="Final project for the Udacity Front End Developer Nanodegree program.">
		<meta name="author" content="Michael Bigelow">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h1 id="appName">Trip Organizer</h1>
		</header>
		<main id="trips"></main>
		<form id="trip-form">
			<div id="location-input-container">
				<label>Destination: </label><input id="location-input" name="locationInput" type="text" placeholder="Location">
			</div>
			<div id="date-input-container">
				<label>Departure Date: </label><input id="date-input" name="dateInput" type="text" placeholder="mm/dd/yyyy" maxlength="10">
			</div>
			<button id="add-tripButton square-button">Add Trip</button>
		</form>
	</body>
</html>