<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Trip Organizer</title>
		<meta name="description" content="Final project for the Udacity Front End Developer Nanodegree program.">
		<meta name="author" content="Michael Bigelow">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		<header>
			<h1 id="appName">Trip Organizer</h1>
		</header>
		<main id="trips">
			<div class="tripEntry">
				<div class="tripLeftContent">
					<div class="tripImageContainer"></div>
					<br>
					<button class="tripAddNotesButton">Add Notes</button>
				</div>
				<div class="tripRightContent">
					<div class="tripHeader">
						<span class="tripLocation">Newton, MA</span>
						<br>
						<span class="tripDate">05/22/2020</span>
					</div>
					<div class="tripflightInfo">
						<div class="flightInfoLabel">
							Flight info:
						</div>
						<div class="flightInfo">
							DIA 4:35PM
							<br>
							Flight 587 United Airlines
						</div>
					</div>
					<div class="tripCountdown">
						<span class="tripLocation">Newton, MA</span> is <span class="tripCountdownNum">50</span> days away.
					</div>
					<div class="tripWeather">
						Typical weather for then is:
						<br>
						<div class="tripWeatherDetails">
							high of 46C, low of 32C
							<br>
							Sunny throughout the day
						</div>
					</div>
				</div>
			</div>
		</main>
		<form id="tripForm">
			<label>Destination: </label><input id="locationInput" name="locationInput" type="text" placeholder="Location" maxlength="10">
			<br>
			<label>Departure Date: </label><input id="dateInput" name="dateInput" type="text" placeholder="mm/dd/yyyy">
			<br>
			<button id="addTripButton">Add Trip</button>
		</form>
	</body>

</html>