$hover-background-color: #99e677;

button{
	cursor: pointer;
	color: #646464;
	&:hover{
		color: inherit;
	}
}

textarea{
	padding: 10px;
	margin-top: 18px;
	width: 100%;
	&:hover{
		background-color: $hover-background-color;
	}
}

#tripForm{
	padding: 24px;
	text-align: center;
	input:hover{
		background-color: $hover-background-color;
	}
}