$info-padding: 18px;
$section-padding: 24px;
$small-font: .8em;

.tripEntry{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	min-height: 200px;
	height: auto;
	background-color: #f9fafc;
	border: 1px dashed #bbb;
	border-bottom: none;
}

.tripLeftContent{
	width: 50%;
	padding: $section-padding;
}

.tripImageContainer{
	width: 100%;
	padding-top: 56.25%; // Forces 16:9 aspect ratio
	background-image: url( "https://images.pexels.com/photos/731217/pexels-photo-731217.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" );
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.tripRightContent{
	width: 50%;
	padding: $section-padding;
}

.tripflightInfo{
	padding-top: $info-padding;
	padding-right: $info-padding;
}

.flightInfoLabel{
	position: relative;
	float: left;
	width: 50%;
	font-weight: bold;
}

.flightInfo{
	position: relative;
	float: right;
	width: 50%;
	font-size: $small-font;
	text-align: right;
}

.tripAddRemove{
	padding-top: $info-padding;
}

.tripCountdown{
	padding-top: $info-padding;
}

.tripCountdownNum{
	text-decoration: underline;
}

.tripWeather{
	padding-top: $info-padding;
}

.tripWeatherDetails{
	font-size: $small-font;
}

.tripBottomContainer{
	width: 50%;
	padding: $section-padding;
}

.tripNotesContainer{
	display: none;
	width: 100%;
	padding-top: $info-padding;
}

@media( max-width: 890px ){
	body{
		width: auto;
	}
	.tripEntry{
		flex-direction: column;
	}
	.tripLeftContent, .tripRightContent{
		width: 100%;
	}
}